<div class="center">
    <div>
    <h1>Create class</h1>
    <form class="example-form" [formGroup]="createForm" (ngSubmit)="submit()">
        <p-inputgroup class="full-width">
            <label class="p-label">Name:</label>
            <input type="text" formControlName="name">
            @if (createForm.controls['name'].errors?.['required']) {
                <div>
                    <a class="danger">*Field must no be empty!</a>
                    <br>
                </div>
            }
        </p-inputgroup>
        <p-inputgroup>
            <label class="p-label">Hit Dice</label>
            <p-select formControlName="hitDice" [options] = "getHitDices()"></p-select>
        </p-inputgroup>
        <p-inputgroup class="full-width">
            <label class="p-label">Description:</label>
            <textarea maxlength="65535" pInputText type="text" formControlName="description"></textarea>
            @if (createForm.controls['description'].errors?.['required']) {
                <div>
                    <a class="danger">*Field must not be empty!</a>
                </div>
            }
        </p-inputgroup>
                <br>
            <button type="submit">Save</button>
    </form>
    </div>
</div>
<hr>
<h2>Proficiencies</h2>
<ol>
    @for (savedItem of dndClass.proficiencies; track $index) {
        <li>
          <p-card appearance="outlined">
            <ng-template #header class="p-card-header">
              <ng-template #title class="p-card-title">Proficiency #{{$index+1}}</ng-template>
            </ng-template>
            <div class="p-card-content">
                <ul role="list">
                    <li role="listitem">Type: {{savedItem.type}}</li>
                    <li role="listitem">Name: {{savedItem.name}}</li>
                </ul>
            </div>
            <div class="p-card-footer">
                <button (click)="remove(savedItem)" p-button>
                    <i class="pi pi-delete"></i>
                </button>
            </div>
          </p-card>
        </li>
    }
</ol>
<form class="example-form" [formGroup]="proficiencyForm"  appearance="outlined">
    <header class="p-header">
      <title class="p-title">Proficiency:</title>
    </header>
    <div class="p-content">
        <p-inputgroup>
            <p-inputgroup-addon>
                <label class="p-label">Type:</label>
            </p-inputgroup-addon> 
            <p-select [options]="getProfTypes()" formControlName="type" (onChange)="setType()"></p-select>
        </p-inputgroup>
        <p-inputgroup>
            <p-inputgroup-addon>
                <label class="p-label">Name:</label>
            </p-inputgroup-addon> 
            <p-select [options]="nameList" formControlName="name" (onChange)="setName()"></p-select>
        </p-inputgroup>
    </div>
    <button [type]="submit" p-button [disabled]="disabled" (click)="addProficiency()">
        <i class="pi pi-save"></i>
    </button>
</form>