<h1>Proficiencies:</h1>
<div class="left">
    <div class="left">
    <span class="title">Filter:</span>
    <p-inputgroup class="example-form-field">
        <label class="p-label">Name</label>
        <input pInputText type="text" [(ngModel)]="filter.name" (ngModelChange)="search()">
        @if (filter.name) {
          <button aria-label="Clear" (click)="filter.name=''" (click)="search()">
            <i class="pi pi-times"></i>
          </button>
        }
    </p-inputgroup>
    <br>
    <p-inputgroup class="example-form-field">
        <label class="p-label">Type</label>
        <p-select [options] = "getTypes()" [(ngModel)]="filter.type" (onChange)="search()"></p-select>
        @if (filter.type) {
          <button aria-label="Clear" (click)="clearType()" (click)="search()">
            <i class="pi pi-times"></i>
          </button>
        }
    </p-inputgroup>
    </div>
</div>
<div class="table">
<a [routerLink]="['create']">Create proficiency</a>
<p-table [value]="data"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[5, 10, 20, 30]">
    <ng-template #header>
      <tr>
        <th pSortableColumn="name">Name:</th>
        <th pSortableColumn="type">Type:</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template #body let-proficiency>
        <tr>
          <td>{{proficiency.name}}</td>
          <td>{{getTypeAsString(proficiency.type)}}</td>
          <td>
            <button extended [routerLink]="['/proficiencies', proficiency.id]">
            <i class="pi pi-info"></i>
            Details
          </button></td>
        </tr>
    </ng-template>
</p-table>
</div>

  
