<div class="center">
    <div>
        <h1>Save spell</h1>
        <form class="form" [formGroup]="editForm" (ngSubmit)="submit()">
            <p-inputgroup class="full-width">
                <label class="p-label">Name:</label><br>
                <input type="text" formControlName="name">
                @if (editForm.controls['name'].errors?.['required']) {
                    <a class="danger">*Field must no be empty!</a>
                    <br>
                }
            </p-inputgroup>
            <p-inputgroup class="full-width">
                <label class="p-label">Level:</label><br>
                <p-select (onChange)="setLevel()" formControlName="level" [options]="levelOptions"></p-select>
            </p-inputgroup>
            <p-inputgroup class="full-width">
                <label class="p-label">Casting time:</label><br>
                <input type="text" formControlName="castingTime">
                @if (editForm.controls['castingTime'].errors?.['required']) {
                    <a class="danger">*Field must no be empty!</a>
                    <br>
                }
            </p-inputgroup>
            <p-inputgroup class="three-fourths-width">
                <label class="p-label">Range:</label><br>
                <input type="number" formControlName="castingRange">
                <span class="large-text"> ft.</span>
                @if (editForm.controls['castingRange'].errors?.['required']) {
                    <a class="danger">*Field must no be empty!</a>
                    <br>
                }
            </p-inputgroup>
            <p-inputgroup class="full-width">
                <label class="p-label">Components:</label>
                <input type="text" formControlName="components">
                @if (editForm.controls['components'].errors?.['required']) {
                    <a class="danger">*Field must no be empty!</a>
                    <br>
                }
            </p-inputgroup>
            <p-inputgroup class="full-width">
                <label class="p-label">Target:</label>
                <input type="text" formControlName="target">
                @if (editForm.controls['target'].errors?.['required']) {
                    <a class="danger">*Field must no be empty!</a>
                    <br>
                }
            </p-inputgroup>
            <p-inputgroup class="full-width">
                <label class="p-label">Duration type</label>
                <p-select  formControlName="durationType" [options]="durationsTypes"></p-select>
            </p-inputgroup>
            @if (!(editForm.controls['durationType'].value === 'Instantenous')) {
            <p-inputgroup class="full-width">
                <label class="p-label">Duration value:</label>
                <input type="number" formControlName="durationValue">
                @if (editForm.controls['durationValue'].errors?.['required']) {
                <div>
                    <a class="danger">*Field must no be empty!</a>
                    <br>
                </div>
                }
            </p-inputgroup>
            }
            <p-inputgroup class="full-width">
                <label class="p-label">Description:</label>
                <textarea maxlength="65535" type="text" formControlName="description"></textarea>
                @if (editForm.controls['description'].errors?.['required']) {
                <div>
                    <a class="danger">*Field must no be empty!</a>
                    <br>
                </div>
                }
            </p-inputgroup>
            <br>
            <button type="submit">Save</button>
        </form>
    </div>
</div>