<div class="center">
    <div>
    <h1>Create class</h1>
    <p-inputgroup class="form" [formGroup]="editForm" (ngSubmit)="submit()">
        <p-iftalabel class="full-width">
            <label class="p-label">Name:</label>
            <input pInput type="text" formControlName="name">
            @if (editForm.controls['name'].errors?.['required']) {
                <div>
                    <a class="danger">*Field must no be empty!</a>
                    <br>
                </div>
            }
            
        </p-iftalabel>
        <p-iftalabel class="full-width">
            <label class="p-label">Hit Dice</label>
            <p-select formControlName="hitDice">
                <option value="D6">D6</option>
                <option value="D8">D8</option>
                <option value="D10">D10</option>
                <option value="D12">D12</option>
            </p-select>
        </p-iftalabel>
        <p-iftalabel class="full-width">
            <label class="p-label">Type:</label>
            <textarea maxlength="65535" pInput type="text" formControlName="description"></textarea>
            @if (editForm.controls['description'].errors?.['required']) {
                <div>
                    <a class="danger">*Field must not be empty!</a>
                </div>
            }
        </p-iftalabel>
            <br>
        <button type="submit">Save</button>
    </p-inputgroup>
    </div>
</div>
<hr>
<h2>Proficiencies</h2>
<ol>
    @for (savedItem of dndClass.proficiencies; track $index) {
        <li>
          <p-card class="example-card" appearance="outlined">
            <header class="p-card-head">
              <title class="p-card-title">Proficiency #{{$index+1}}</title>
            </header>
            <div class="p-card-content">
                <ul>
                    <li>Type: {{savedItem.type}}</li>
                    <li>Name: {{savedItem.name}}</li>
                </ul>
            </div>
            <div>
                <button (click)="remove(savedItem)" p-button>
                    <i class="pi pi-delete"></i>
                </button>
            </div>
          </p-card>
        </li>
    }
</ol>
<p-card class="example-card" appearance="outlined">
    <header class="p-card-head">
      <title class="p-card-title">Proficiency:</title>
    </header>
    <div class="p-card-content">
        <p-iftalabel>
            <label>Type:</label>
            <p-select [optionValue]="proficiency.type" (selectionChange)="setType()">
            @for (item of typeList; track $index) {
                <option [value]="item">
                    {{item}}
                </option>
            }
            </p-select>
        </p-iftalabel>
        <p-iftalabel>
            <label>Name:</label>
            <p-select [optionValue]="proficiency.name" (selectionChange)="setName()">
            @for (item of nameList; track $index) {
                <option [value]="item">
                    {{item}}
                </option>
            }
            </p-select>
        </p-iftalabel>
    </div>
    <div>
        <button p-button [disabled]="disabled" (click)="addProficiency()">
            <i class="pi pi-save"></i>
        </button>
    </div>
</p-card>
