
<main class="main">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="separator">
        <a [routerLink]="['home']">Home</a>
        <mat-icon>info</mat-icon>
      </div>
      <div class="separator">
        <a [routerLink]="['characters']">Characters</a>
      </div>
      <div class="separator">
        <a [routerLink]="['proficiencies']">Proficiencies</a>
      </div>
      <div class="separator">
        <a [routerLink]="['classes']">Classes</a>
      </div>
      <div class="separator">
        <a [routerLink]="['spells']">Spells</a>
      </div>
      <div class="separator">
        <a [routerLink]="['features']">Features</a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</main>

<router-outlet />
