<div class="center">
    <div>
        <h1>Add proficiency</h1>
        <form class="form" [formGroup]="createForm" (ngSubmit)="submit()">
            <mat-form-field class="full-width">
                <mat-label>Name:</mat-label>
                <input matInput type="text" formControlName="name">
                <div *ngIf="createForm.controls['name'].errors?.['required']">
                    <a class="danger">*Field must no be empty!</a>
                    <br>
                </div>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>Type:</mat-label>
                <mat-select formControlName="type" [value]="createForm.controls['type'].value">
                    @for (item of types; track $index) {
                    <mat-option [value]="item">{{item}}</mat-option>
                    }
                </mat-select>
                @if (createForm.controls['type'].errors?.['required']) {
                <div>
                    <a class="danger">*Field must not be empty!</a>
                </div>
                }
            </mat-form-field>
            <br>
            <button type="submit">Save</button>
        </form>
    </div>
</div>